.btn-primary {
  background-color: #34bad6;
  border-color: #34bad6;
}

.form-check-input {
  accent-color: #34bad6;
}

.form-check-input:checked {
  background-color: #34bad6;
  border-color: #34bad6;
}

.btn-primary:hover {
  background-color: #249ab3;
  border-color: #34bad6;
}

.btn-outline-primary {
  border-color: #34bad6;
  color: black;
}

.btn-outline-primary:hover {
  border-color: #249ab3;
  background-color: #34bad6;
}